<!DOCTYPE html>
<html>
    <head>
        <title>猿代码</title>
        <script type="text/javascript">
            function main () {
                document.write('hello world!');
            }
            main();
        </script>
    </head>
    <body>
    </body>
</html>