<!DOCTYPE html>
<html>
    <head>
        <title>猿Coding</title>
        <script type="text/javascript" src="/lib/jquery.js"></script>
        <script type="text/javascript" src="/lib/codemirror.js"></script>
        <script type="text/javascript" src="/lib/nprogress.js"></script>
        <script type="text/javascript" src="/lib/toastr.min.js"></script>
        <link rel="stylesheet" href="/lib/codemirror.css">
        <link rel="stylesheet" href="/lib/nprogress.css">
        <link rel="stylesheet" href="/lib/toastr.min.css">
        <link rel='stylesheet' href='/css/style.css' />
        <link rel="stylesheet" href="/theme/tomorrow-night-eighties.css">
        <script src="/mode/xml/xml.js"></script>
        <script src="/mode/javascript/javascript.js"></script>
        <script src="/mode/css/css.js"></script>
        <script src="/mode/htmlmixed/htmlmixed.js"></script>
        <script type="text/javascript" src="/js/util.js"></script>
        <script type="text/javascript" src="/js/editor.js"></script>
    </head>
    <body>
        <% include headerMenu %>
        <% include editorMenu %>
        <input type="hidden" id="codeName" value="<%- data.title || '' %>">
        <% if (!data.codeText) { %>
        <textarea id="editor" name="editor"><% include demo %></textarea>
        <% } else { %>
        <textarea id="editor" name="editor"><%- data.codeText %></textarea>
        <% } %>
        <iframe id="preview"></iframe>
        <div id="scroll"><span></span></div>
        <div class="alertCover">
            <div class="alertPanel">
                <div class="alertTitle">
                    <span>通知</span>
                </div>
                <div class="alertContent">
                    <label>请输入作品名称:</label>
                    <input type="text" class="alertText" value="<%- data.title || '' %>">
                    <div class="alertBtn">
                        <a href="javascript:;" class="btn" id="submit">确定</a>
                        <a href="javascript:;" class="btn" id="cannel">取消</a>
                    </div>
                </div>
            </div>
        </div>
<% include footer %>
