<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <title>猿Coding</title>
        <link rel='stylesheet' href='/css/style.css' />
        <% include stat %>
    </head>
    <body>