<div class="help">
    <h3>常见问题帮助</h3>
    <ul>
        <li><a href="javascript:;" target="_blank">猿Coding 是什么？</a></li>
        <li><a href="javascript:;" target="_blank">如何在 猿Coding 上创建代码？</a></li>
        <li><a href="javascript:;" target="_blank">如何保存我的代码？ </a></li>
        <li><a href="javascript:;" target="_blank">如何邀请别人同步看我写代码的过程？</a></li>
        <li><a href="javascript:;" target="_blank">如何录制写代码的过程？</a></li>
        <li><a href="javascript:;" target="_blank">如何写笔记？</a></li>
        <li><a href="javascript:;" target="_blank">发现了 猿Coding 的 bug 或者有建议？</a></li>
    </ul>
</div>