<% include header %>
    <% include headerMenu %>
    <div class="indexContent">
        <% include indexMenu %>
        <% include contentPanel %>
    </div>
    <% include copyright %>
<% include footer %>