<% include header %>
    <div class="hue">
        <% include headerMenu %>
        <div class="indexContent">
            <% include indexMenu %>
            <% include contentPanel %>
        </div>
        <% include copyright %>
    </div>
<% include footer %>