@charset "utf-8";
*{margin: 0; padding: 0;}
html,body{height:100%;font-size: 14px;font-family: 微软雅黑, Verdana, sans-serif;}
body,ul,pre{padding:0;margin:0;}
ul{list-style:none;}
a{text-decoration:none;color:#000;}
p,dd{margin:0;}
input,button{outline:none;}
.fl{float:left;}
.fr{float:right;}
.clearfix:before,.clearfix:after{content:''; display:table;}.clearfix:after{clear:both;}.clearfix{*zoom:1;}
.none{display:none;}
.block{display:block;}
/* Color */
@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
.hue{-webkit-animation: hue 60s infinite linear;}
/***** headerMenu *****/
.header{height:48px;position:relative;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.2);-moz-box-shadow:0 1px 3px rgba(0,0,0,.2);box-shadow:0 1px 3px rgba(0,0,0,.2);background-color:#3498db;}
.header .logo{position:absolute;z-index:1;top:0;left:0;color:#fff;display:inline-block;width:100px;height:48px;line-height:48px;margin-left:20px;text-align:center}
.header .headerMenu{display:inline-block;width:100%;height:48px;line-height:48px;text-align:right}
.header .headerMenu .login{font-size:14px;color:#fff;width:60px;margin-right:10px;border:1px solid #fff;text-align:center;padding:5px 10px;line-height:26px;height:26px}
/***** footer *****/
.footer{position:relative;z-index:998;padding:60px;background-color:#3498db;text-align:center;color:#fff;}
/***** index *****/
.indexContent{width:980px;margin:0 auto;text-align:left}
.indexContent h2{text-align:center;font-size:30px;line-height:100px;font-weight:400;color:#3498db}
.indexContent .indexMenu>a{display:block;margin-bottom:30px;position:relative;float:left;margin-left:20px;width:300px;height:150px;text-align:center;border:1px solid #3498db;}
.indexContent .indexMenu>a:hover{-moz-box-shodow:inset 0 1px 0 rgba(255,255,255,.2),0 3px 6px rgba(0,0,0,.2);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 3px 6px rgba(0,0,0,.2);box-shadow:inset 0 1px 0 #rgba(255,255,255,.2),0 3px 6px rgba(0,0,0,.2)}
.indexContent .indexMenu>a>dl{width:100%;height:100%}
.indexContent .indexMenu>a>dl>dt{margin-top:12px;font-size:36px;line-height:108px;color:#3498db}
.indexContent .indexMenu>a>dl>dd.description{color:#3498db}

.indexContent .indexMenu>a>dl .ribbonWrapper{width:80px;height:80px;overflow:hidden;position:absolute;top:-1px;right:-1px}
.indexContent .indexMenu>a>dl .ribbonWrapper .ribbon{color:#333;text-align:center;text-shadow:rgba(0,0,0,.9) 0 0 2px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);position:relative;padding:7px 0;left:-3px;top:12px;width:120px;background-color:#3498db;color:#fff;font-size:16px}

.contentPanel{position:relative;margin:0 13px 30px 20px;padding:0 20px 20px 20px;border:1px solid #3498db}
.contentPanel .userOperate{margin-top:20px;width:550px;float:left}
.contentPanel .userOperate li{padding-left:20px;line-height:48px;height:48px;border-bottom:1px solid #3498db}
.contentPanel .userOperate li .userOperate_time{float:right;color:#aaa;font-size:12px}
.contentPanel .userOperate li a{color:#3498db}
.contentPanel .userOperate li a:hover{text-decoration:underline}
.contentPanel .help{float:right;padding:10px 20px;margin-top:20px;width:290px;line-height:36px;background-color:#3498db}
.contentPanel .help h3{color:#fff;border-bottom:1px solid #fff}
.contentPanel .help a{color:#fff}
.contentPanel .userOperate #getMore{float:right;margin-top:10px;color:#3498db}
/***** Edit *****/


/***** Preview *****/


