<!DOCTYPE html>
<html>
    <head>
        <title>猿Coding</title>
        <style>
        *{margin: 0;padding: 0}
        body{background-color: #ccc;}
        </style>
        <script type="text/javascript">
            function main () {
                document.write('hello world!');
            }
            main();
        </script>
    </head>
    <body>
    </body>
</html>