<div class="topbar">
    <ul class="menu-nav">
        <li class="menu-board">
            <div class="menuBtn">文件</div>
            <ul class="menu">
                <li><div class="menu-item"><span>⌘ S</span><u></u>Save</div></li>
                <li><div class="menu_divider"></div></li>
                <li><div class="menu-item"><span></span><u></u>Download Project</div></li>
            </ul>
        </li>
        <li class="menu-board">
            <div class="menuBtn">视图</div>
            <ul class="menu">
                <li><div class="menu-item"><span>⌘ S</span><u></u>Save</div></li>
                <li><div class="menu_divider"></div></li>
                <li><div class="menu-item"><span></span><u></u>Download Project</div></li>
            </ul>
        </li>
        <li class="menu-board">
            <div class="menuBtn">操作</div>
            <ul class="menu">
                <li><div class="menu-item"><span>⌘ S</span><u></u>Save</div></li>
                <li><div class="menu_divider"></div></li>
                <li><div class="menu-item"><span></span><u></u>Download Project</div></li>
            </ul>
        </li>
        <li class="menu-board">
            <div class="menuBtn">工具</div>
            <ul class="menu">
                <li><div class="menu-item"><span>⌘ S</span><u></u>Save</div></li>
                <li><div class="menu_divider"></div></li>
                <li><div class="menu-item"><span></span><u></u>Download Project</div></li>
            </ul>
        </li>
        <li>
            <div class="menuBtn">帮助</div>
        </li>
    </ul>
    <ul class="tool-nav">
        <li>
            <div class="menuIcon" title="运行">
                <i class="icon icon-play-circle"></i>
            </div>
        </li>
        <li>
            <div class="menuIcon" title="保存">
                <i class="icon icon-save"></i>
            </div>
        </li>
        <li>
            <div class="menuIcon" title="实时预览">
                <i class="icon icon-columns"></i>
            </div>
        </li>
        <li>
            <div class="menuIcon" title="下载动画">
                <i class="icon icon-cloud-download"></i>
            </div>
        </li>
        <li>
            <div class="menuIcon" title="播放动画">
                <i class="icon icon-facetime-video"></i>
            </div>
        </li>
    </ul>
    <ul class="setting-nav">
        <li>
            <div class="menuIcon">
                <i class="icon icon-cog"></i>
            </div>
        </li>
        <li>
            <div class="menuIcon logo">
                猿Coding
            </div>
        </li>
    </ul>
    <div>
        
    </div>
</div>