<div class="editorBox">
    <div class="leftPanel">
        <div class="leftBar">
            <div class="menuBtn" id="workspace">工作空间</div>
        </div>
        <div class="leftSection">
            <div class="leftSectionContent" id="workspaceContent">功能暂未开放</div>
        </div>
    </div>
    <div class="contentPanel">
        <textarea id="editorPanel" name="editorPanel" class="none"><% include demo %></textarea>
    </div>
    <div class="rightPanel">
        <div class="rightBar">
            <div id="projectBtn" class="menuBtn">项目</div>
            <div id="searchBtn" class="menuBtn">搜索</div>
            <div id="commentBtn" class="menuBtn">评论</div>
        </div>
        <div class="rightSection">
            <div class="rightSectionContent" id="projectContent">项目功能暂未开放</div>
            <div class="rightSectionContent" id="searchContent">搜索功能暂未开放</div>
            <div class="rightSectionContent" id="commentContent">评论功能暂未开放</div>
        </div>
    </div>
    <div class="bottomPanel">
        <div class='editorStatus'>
            <div class="label">0:0</div>
            <div class="label">
                HTML
                <ul class="menu">
                    <li><div class="menu-item">CSS</div></li>
                    <li><div class="menu-item">HTML</div></li>
                    <li><div class="menu-item">Javascript</li>
                </ul>
            </div>
            <div class="label">Spaces: 4</div>
        </div>
    </div>
</div>