<div class="indexContent clearfix">
    <div class="section">
        <div class="fullPageCell" id="first-page">
            <h2>猿Coding</h2>
            <h1>代码改变世界</h1>
            <p>在线编辑、学习、交流</p>
            <ul>
                <li>
                    <a href="###">
                        <i class="icon icon-book icon-2x"></i>
                        <p>专题集</p>
                    </a>
                </li>
                <li>
                    <a href="/code" target="_blank">
                        <i class="icon icon-pencil icon-2x"></i>
                        <p>编辑器</p>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <i class="icon icon-globe icon-2x"></i>
                        <p>直播间</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="section">2</div>
    <div class="section">3</div>
    <div class="section">4</div>
    <div class="section">
        5
        <%# include ../includes/copyright %>
    </div>
</div>
