<div class="editorMenu">
    <a href="/" class="menu">
        首页
    </a>
    <a href="javascript:;" id="saveBtn" class="menu">
        保存
    </a>
    <a href="javascript:;" id="previewBtn" class="menu">
        实时预览
    </a>
    <a href="/<%- data._id %>/result" target="_blank" class="menu">
        浏览
    </a>
</div>